/*For SERVICES */

#service{
   padding-left:10px;
   margin-top:10px;
   width:60%;
   float:left;
   padding-right:0px;
   margin-right:0px;
}

#price{
	width:100%;
	padding-bottom:50px;
	margin-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	background-color:rgb(207, 216, 232);
}


#quote{
	padding-right:0px;
	padding-bottom:20px;
	margin-top:50px;
	margin-right:40px;
	width:30%;
	padding-left:10px;
	color:white;
	background-color:#384659;
	float:right;
}

#send button{
	display:block;
	background:rgb(247, 159, 17);
	/* background-color:rgb(247, 159, 17);  */
}

#last{
background-color:red;
padding-top:20px;
padding-bottom:20px;
margin-top:500px;
}