*{
margin:0px;	
}


#Main{
background-color:rgb(58,61,66);
color:white;
font-family:Arial;
font-size:80%;
padding:20px;
margin:0;
border-bottom:white 4px solid;
}

#Main h1{
padding-left:80px;
width:250px;
display:inline;}

#main nav{
float:right;}

#Main li{
padding-bottom:50px;
}

header a{
text-decoration:none;
text-transform:uppercase;}

header li{
	display:inline;
padding-bottom:100px;
padding-left:10px;
padding-right:10px;}

#middle{
	text-align:center;
	background:url('./images/showcase.jpg') no-repeat 0 -400px;
	height:300px;
	padding-top:50px;
}
#middle h1{
	font-size:40px;
color:#ffffff;}

#middle p{
	color:white;
	font-size:20px;
}
#sub {background:rgb(58,61,66);
padding:15px;
margin:0;
padding-bottom:20px;

}
#sub h3{
color:#ffffff;
font-size:20px;
width:250px;
display:inline;

}
#sub form{
float:right;
}
#sub input[type="email"]{
width:300px;
height:20px;
}
#container{
	width:100%;
	margin-top:0px;
}
#container #images1
{
float:left;
display:inline;

margin-top:10px;}

#images1{
text-align:center;
width:32%;
padding:10px;
}
#images1 img{
	margin-top:20px;
	width:50px;
}

#about a{
   color:white;
}

#last{
text-align:center;
background-color:red;
padding-top:20px;
padding-bottom:20px;
margin-top:150px;
}

#Main{
	border-bottom:solid 5px;
border-bottom-color:rgb(245, 47, 7);
}
#main #only{
color:rgb(245, 47, 7);
}

#sub input{
 width:500px;	
}

ul #lis{
	color:rgb(245, 47, 7);
}












